---
layout: default
description: This is the landing page
---

<!--
前端战5渣一枚，这些html页面您得耐着性子看
-->

<article>
前排兜售瓜子花生小板凳。
<li> <a href="./qa/howto-anonymous-comments.html">不登录怎么评(tu)论(cao)本博客</a> </li>
<li> Q: 这里有干货吗？<br> A: 并没有。</li>
<li> Q: 没有干货还好意思写博客？ <br> A: 一来是自娱自乐，二则是记录一些自己遇到的问题，下次再碰到有个靠谱的参考，毕竟好记心不如烂笔头。如果能帮到其ta人就更好了。</li>
</article>

<aside>
	<h3>Most recent posts</h3>
	<ul class="posts-list hfeed">
		{% for post in site.posts limit: 5 %}
		{% include post-list-item.html %}
		{% endfor %}
	</ul>
</aside>
